<h2 id='title'>Welcome to Ember.js</h2>

<div>
  <ul>
    <li>lat: {{model.lat}}</li>
    <li>long: {{model.long}}</li>
    <li>zoom: {{model.zoom}}</li>
  </ul>
</div>
{{google-map model=model action='updateModel'}}
{{yandex-map model=model action='updateModel'}}
{{google-map model=model action='updateModel'}}

{{outlet}}
